.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #222222;
}
.navbar-fixed-bottom {
    font-size: 12px;
    line-height: 18px;
    background-color: #222222;

  }
  .navbar-fixed-bottom .navbar-inner {
      min-height: 22px;
  }
  .navbar-fixed-bottom .p {
      margin: 2px 0 2px;
  }